.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 50px;
  width: 100vw;
  margin-top: -60px;
  position: relative;
}
